.table-charla{
  background-color: #80c4de
}
.table-comida{
  background-color: #fff68f
}
.table-contest{
  background-color: #3fc380
}
.table-upsolving{
  background-color: #9f5afd
}
.table-registracion{
  background-color: #e17055
}
.table-cierre{
  background-color: #a29bfe
}
