{% extends 'layout_en.njk' %}

{% block main_header %}
  <div class="col-md-10 text-center" data-aos="fade">
    <h1 class="mb-4">Training Camp Argentina 2014</h1>
    <h3 class="mb-5" style="color:white">Universidad de Buenos Aires</h3>
  </div>
{% endblock %}

{% block content %}
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
          <h2 class="mb-5 text-uppercase">Sponsors</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-6 col-lg-4">
          <img src="../images/2014/sponsors/sadosky.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <img src="../images/2014/sponsors/google.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <img src="../images/2014/sponsors/brightsector.png" alt="Image" class="img-fluid">
        </div>
        <div class="col-6 col-md-6 col-lg-4">
          <img src="../images/2014/sponsors/microsoft.png" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7 mx-auto text-center section-heading">
            <h2 class="mb-5 text-uppercase">Lectures</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <ul>
              <li><a href="../pdfs/2014/01-DP.pdf">Programación Dinámica</a></li>
              <li><a href="../pdfs/2014/02-Grafos.pdf">Grafos parte I</a></li>
              <li><a href="../pdfs/2014/03-BS.pdf">Búsqueda Binaria</a></li>
              <li><a href="../pdfs/2014/04-Golosos.pdf">Algoritmos Golosos</a></li>
              <li><a href="../pdfs/2014/05-Strings.pdf">Strings</a></li>
              <li><a href="../pdfs/2014/06-Grafos2.pdf">Grafos parte II</a></li>
              <li><a href="../pdfs/2014/07-Grafos3.pdf">Grafos parte III</a></li>
              <li><a href="../pdfs/2014/08-Estructuras.pdf">Estructuras de Datos</a></li>
              <li><a href="../pdfs/2014/09-Aritmetica.pdf">Aritmética</a></li>
              <li><a href="../pdfs/2014/10-Geometria.pdf">Geometría</a></li>
              <li><a href="../pdfs/2014/11-Matematica+FFT.pdf">Matemática (FFT + Extras)</a></li>
              <li><a href="../pdfs/2014/12-Flujo.pdf">Flujo</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7 mx-auto text-center section-heading">
            <h2 class="mb-5 text-uppercase">Speakers</h2>
          </div>
        </div>
      </div>
      <div class="container">
        {% from 'edition_macros.njk' import 'speaker' %}
        {{ speaker('Nicolás Álvarez','M.S. in Computer Science from Universidad Nacional del Sur. Currently
        pursuing a PhD in Computer Science at Universidad Nacional del Sur. World finalist of the ACM ICPC
        both as a contestant (2009) and as a coach (2010, 2013, 2015). Head of Teaching Assistants at
        Universidad Nacional del Sur.')}}
        {{ speaker('Martín Fixman', 'Currently pursuing a M.S. in Computer Science from Facultad de
        Ciencias Exactas y Naturales, Universidad de Buenos Aires. Bronze Medal at the 20° International
        Olympiad in Informatics (Cairo 2008) and Silver Medal at the 22° International Olympiad in
        Informatics (Waterloo 2010). ACM ICPC world finalist in 2013. Former intern at Google (USA)
        and Facebook (USA).') }}
        {{ speaker('Agustín Santiago Gutiérrez', 'M.S. in Computer Science from Universidad de Buenos Aires.
        Finalist and Latin American Champion twice as contestant (2009 and 2011) and finalist six times as
        coach (2010, 2013, 2014, 2015, 2016 and 2017), being Latin American Champion in 2015. Agustín is a
        First class Teaching Assistant at the Computer Science Department of Universidad de Buenos Aires -
        FCEN. He participated twice of the International Olympiad in Informatics (IOI) obtaining a Silver
        Medal in 2007. He is a jury and coach of the Argentine National Olympiad in Informatics (OIA).') }}
        {{ speaker('Melanie Sclar', 'Currently pursuing both a M.S. in Computer Science and a M.S. in
        Mathematics at Facultad de Ciencias Exactas y Naturales, Universidad de Buenos Aires. Silver
        Medal at the 21° Mathematical Olympiad of the Southern Cone (Brasil, 2010); Bronze Medal at
        the 26° Iberoamerican Mathematical Olympiad (Costa Rica, 2011); National Champion of the 27°
        Argentine Mathematical Olympiad (2011). Two times world finalist of the ACM ICPC (2014 y 2015),
        and Latin American Champion in 2015. Two times intern at Facebook (USA).') }}
        {{ speaker('Leopoldo Taravilse', 'Master\'s in Computer Sciences from Universidad de Buenos Aires.
        Finalist twice as contestant (2010 and 2012) and once finalist and Latin American Champion (2016).
        Leopoldo is Head of Teaching Assistants at the Computer Science degree at Universidad de Buenos Aires.
        He was intern at Google (USA), Facebook (USA) and Medallia (Argentina).')}}
        {{ speaker('Lucas Tavolaro Ortiz', 'Currently pursuing a M.S. in Computer Science at Facultad
        de Ciencias Exactas y Naturales, Universidad de Buenos Aires. Bronze Medal at the 23°
        International Olympiad in Informatics (Thailand 2011). Two times ACM ICPC world finalist
        (2014, 2015), and Latin American Champion in 2015. Former intern at Google (USA), currently
        working at Medallia (Argentina).') }}
        {{ speaker('Quimey Vivas', 'PhD in Mathematics from Facultad de Ciencias Exactas y Naturales,
        Universidad de Buenos Aires. ACM-ICPC World finalist: both as a contestant (2010) and as a
        coach (2012). Former Software Engineer at Facebook, Menlo Park, California (USA).') }}
        {{ speaker('Ariel Zylber:', 'Currently pursuing both a M.S. in Computer Science and a M.S.
        in Mathematics at Facultad de Ciencias Exactas y Naturales, Universidad de Buenos Aires.
        Gold Medal at the 52° International Mathematical Olympiad (Amsterdam 2011), two times Gold
        Medal at the Iberoamerican Mathematical Olympiad (2011,2012), Gold Medal at the Mathematical
        Olympiad of the Southern Cone (2010), Bronze Medal at the 22° International Olympiad in Informatics
        (Waterloo 2010). Two times ACM ICPC world finalist (2014, 2015) and Latin American Champion in 2015.
        Former intern at Facebook (USA).')}}
      </div>
    </div>
{% endblock %}
