{% extends 'layout_en.njk' %}

{% block main_header %}
<div class="col-md-10 text-center" data-aos="fade">
  <h1 class="mb-4">About</h1>
</div>
{% endblock %}

{% block content %}
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-5 ml-auto">
        <h2 class="font-weight-bold text-uppercase display-3">Goals</span></h2>
        <p>Our main goal is to build a community of competitive programmers in Latin America
          in which everyone can interact to achieve every year better results than in the previous
          one, rotating the host university every year to generate a commitment from every
          university in Argentina with the ICPC.
        </p>
      </div>
      <div class="col-md-5 col-lg-5 ml-auto">
        <p>During this two weeks we will provide the students a theoretical background for
          being able to solve problems in programming contests and we'll also give them problems
          to solve simulating real contests. We'll also provide the students tools for being able
          to train by theirselves..</p>
      </div>
    </div>
  </div>
</div>

<div class="site-block-half d-flex images">
  <div class="image bg-image" style="background-image: url('../images/img_5.jpg');">
  </div>
  <div class="image bg-image" style="background-image: url('../images/img_6.jpg');">
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-5 ml-auto">
        <h2 class="font-weight-bold text-uppercase display-3">History</span></h2>
        <p>The idea of organizing a Training Camp came up in 2010 during the ACM ICPC World
          Finals, when a group of contestants realized that the Argentine teams that qualified
          to the finals were always from the same universities. That year, Nicolás Álvarez,
          Fidel Schaposnik and Leopoldo Taravilse started talking about the good results the
          Russian teams had after going to their Training Camps, and decided to do one in Argentina
          to train teams from all over the country.</p>
        <p>That year, in August, the first edition of the Training Camp was organized at
          Universidad de Buenos Aires. That first Training Camp was coordinated by Nicolás Álvarez,
          it lasted a whole week and around 25 students participated of it, all of them from universities
          in Argentina.</p>
      </div>
      <div class="col-md-5 col-lg-5 ml-auto">
        <p>The event had such an impact that when a second edition was organized in 2011, it received
          students from Bolivia and Peru, besides the teams from Argentina that had previously participated
          in the first Training Camp.</p>
        <p>In 2012, two important decisions were made. The first of them was to start rotating the host,
          so that students from all over the country could be reached by taking the Training Camp to
          their universities. The second one was to increase the duration of the Training Camps to two
          weeks. Since 2012, all the editions have lasted for two weeks, and this decision was made in part
          because of the feedback received from the community. That year, almost 100 students from different
          universities in Argentina, Bolivia, Chile, Peru and Uruguay were received at the Training Camp.</p>
        <p>Since 2012, Training Camps have been hosted in Córdoba, La Plata, Buenos Aires, Bahía Blanca and Neuquén.
          In the past few years, the training camp has attracted students from Colombian and Venezuelan universities.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
