{% extends 'layout_en.njk' %}

{% block current_url %}contact.html{% endblock %}

{% block main_header %}
<div class="col-md-10 text-center" data-aos="fade">
  <h1 class="mb-4">Contact</h1>
</div>
{% endblock %}

{% block content %}
<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8 mb-5">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeKmsTjiJZAvJJu4zqB7bJP-4xyL3gs_8ijNp5__wlX5gnWfg/viewform?embedded=true" width="100%" height="1010" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5 quick-contact-info">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <div>
          <span class="icon-room text-white h2 d-block"></span>
          <h2>Where</h2>
          <p class="mb-0">Córdoba, Córdoba, Argentina</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div>
          <span class="icon-clock-o text-white h2 d-block"></span>
          <h2>When</h2>
          <p class="mb-0">July 08-19, 2019</p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div>
          <span class="icon-comments text-white h2 d-block"></span>
          <h2>Email</h2>
          <p class="mb-0">contacto.trainingcamp.arg@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
