{% extends 'layout_en.njk' %}

{% block current_url %}COVID19.html{% endblock %}

{% block content %}
<div class="site-section" id="COVID19">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mx-auto text-left section-heading">
        <h2 class="mb-5 text-uppercase">IMPORTANT NOTICE ABOUT COVID19</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-7">
        <p>
          In view of the events of public knowledge about the current global pandemic, we are evaluating the feasibility of the face-to-face event. The final decision on it will be made on April 30. For the moment, we have decided to extend the registration period until April 30. We do not recommend booking tickets or accommodation.
        </p>

        <p> We are sorry for the inconvenience caused and we hope for your understanding.</p>

      </div>
    </div>
  </div>
</div>
{% endblock %}
