{% extends 'layout_en.njk' %}

{% block current_url %}faq.html{% endblock %}

{% block main_header %}
<div class="col-md-10 text-center" data-aos="fade">
  <h1 class="mb-4">Frequently Asked Questions</h1>
</div>
{% endblock %}

{% block content %}
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-5 ml-auto">
        <h2>What is a programming contest?</h2>
        <p>A programming contest consist of several problems to solve, individually
          or as part of a team, using logic, math and algorithmic and reasoning skills.
          The solution to each problem must be implemented in a programming language and
          is judged by comparing it with the judges solution on several test cases to
          check whether it is correct or not.</p>
      </div>
      <div class="col-md-5 col-lg-5 ml-auto">
        <h2>What kind of problems are there in programming contest?</h2>
        <p>Contests have problems spanning a wide variety of topics: data structures,
          game theory, greedy algorithms, dynamic programming, brute force, arithmetic,
          computational geometry, etc.</p>
      </div>
    </div>
  </div>
</div>

<div class="site-section" style="background-color:#eeeeee">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-5 ml-auto">
        <h2>What do I gain from participating in a Training Camp?</h2>
        <p>A Training Camp prepares the students to participate in programming
        contests. The most important of them, the ACM ICPC, is our main goal when
        we prepare the students of a Training Camp. Besides that, by learning to
        solve algorithmical, logical and mathematical problems, the contestants
        are very well prepared to face interviews at the top software companies
        in the industry, many of which are or have been sponsors of the Training Camp.</p>
      </div>
      <div class="col-md-5 col-lg-5 ml-auto">
        <h2>Is my preparation at the Training Camp useful for any programming contest?</h2>
        <p>Yes, even though the training is very focused on the ACM ICPC Regional Contest,
          it prepares the students for any kind of programming contest.</p>
      </div>
    </div>
  </div>
</div>

<div class="site-block-half d-flex images">
  <div class="image bg-image" style="background-image: url('../images/img_7.jpg');">
  </div>
  <div class="image bg-image" style="background-image: url('../images/img_8.jpg');">
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-5 ml-auto">
        <h2>What languages can we use on a Training Camp?</h2>
        <p>We use C, C++, Java or Python, since those are the languages available at ICPC.</p>
      </div>
      <div class="col-md-5 col-lg-5 ml-auto">
        <h2>What else?</h2>
        <p>Besides the technical aspects, the Training Camp will have moments of recreation,
          and some time for the sponsors to give a presentation to all the participants.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
