{% extends 'layout_en.njk' %}

{% block current_url %}gallery.html{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
<link rel="stylesheet" href="../css/grid-gallery.css">
{% endblock %}

{% block main_header %}
<div class="col-md-10 text-center" data-aos="fade">
  <h1 class="mb-4">Gallery</h1>
</div>
{% endblock %}

{% block content %}
{% from 'gallery_macros.njk' import 'print_year_gallery' %}
<section class="site-section gallery-block grid-gallery">
    {{ print_year_gallery(2019, 6, 0, 'en') }}
    {{ print_year_gallery(2018, 79, 8, 'en') }}
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.grid-gallery', { animation: 'slideIn'});
</script>

{% endblock %}
