{% extends 'layout_en.njk' %}

{% block current_url %}index.html{% endblock %}

{% block main_header %}
  <div class="col-md-10 text-center" data-aos="fade">
    <h1 class="mb-4">Training Camp Argentina</h1>
    <h3 class="mb-5" style="color:white">July 13-24, 2020 &bullet; Universidad Nacional de La Rioja</h3>
    <p class="regular-font-size">
      <a href="https://docs.google.com/forms/d/1KD0MSAZPa2bgRlArM5w5yTRV3wN7qAc0RTTjLM-NTpA/edit?ts=5e51cee5" class="btn btn-info px-4 py-3 text-uppercase">Registration Form</a>
    </p>
    <br>
    <p>
      <a href="gallery.html" class="btn btn-info btn-sm">Image gallery</a>
      <a href="editions.html" class="btn btn-info btn-sm">Past editions</a>
    </p>
  </div>
{% endblock %}

{% block content %}
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7 mx-auto text-left section-heading">
            <h2 class="mb-5 text-uppercase">What is the Training Camp?</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-7">
            <p>The Training Camp is an intensive training course of 2 weeks for programming contests
            with theoretical classes during the morning and practice sessions during the afternoon.</p>
            <p>The Training Camp has been hosted in six different universities since 2010.
            It's always during the winter break of Argentinian universities. The 2020 edition will be
            the eleventh edition and hosted in Universidad Nacional de La Rioja.</p>
            <p><a href="faq.html" class="btn btn-info px-4 py-2">See more frequently asked questions</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="site-block-half d-flex images">
      <div class="image bg-image" style="background-image: url('../images/img_1.jpg');">
      </div>
      <div class="image bg-image" style="background-image: url('../images/img_2.jpg');">
      </div>
    </div>

    <div class="site-section block-15">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="text-uppercase">News</h2>
          </div>
        </div>
        <div class="nonloop-block-15 owl-carousel">
          <div class="media-with-text">
            <div class="img-border-sm mb-4">
            </div>
            <h2 class="heading mb-0"><a href="#">Inscription</a></h2>
            <span class="mb-3 d-block post-date">March 12 2019</span>
            <p><a href="https://docs.google.com/forms/d/1KD0MSAZPa2bgRlArM5w5yTRV3wN7qAc0RTTjLM-NTpA/edit?ts=5e51cee5">Inscription</a> to Training Camp 2020</p>
          </div>
            <div class="media-with-text">
              <h2 class="heading mb-0"><a href="#">Announcement</a></h2>
              <span class="mb-3 d-block post-date">December 22 2018</span>
              <p>The Training Camp 2020 will hosted at Universidad Nacional de La Rioja (UNLaR) during
                July 13-24. During February we will announce more information about inscriptions.
              </p>
            </div>
        </div>
        <div class="row">
        </div>
      </div>
    </div>

    <div class="site-block-half d-flex images">
      <div class="image bg-image" style="background-image: url('../images/img_3.jpg');">
      </div>
      <div class="image bg-image" style="background-image: url('../images/img_4.jpg');">
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5 text-uppercase">Sponsors 2020</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class=" col-6 col-md-6 col-lg-4">
            <img src="../images/logos/sponsors2020/UNLaR_Horizontal.png" alt="UNLaR" class="img-fluid">
          </div>
          <div class=" col-6 col-md-6 col-lg-4">
            <img src="../images/logos/sponsors2020/exactas-01.png" alt="exactas" class="img-fluid">
          </div>
        </div>
        <!--
        <div class="row d-block">
          <h5 class="font-weight-bold text-uppercase display-5">Gold</h5>
        </div>
	       <div class="row" style="height:5px"></div>
        <div class="row">
          <div class="col-6 col-md-6 col-lg-4">
            <img src="../images/2019/sponsors/avature.png" alt="Image" class="img-fluid">
          </div>
        </div>
        <div class="row">
          <h5 class="font-weight-bold text-uppercase display-5">Silver</h5>
        </div>
        <div class="row">
          <div class="col-6 col-md-6 col-lg-4">
            <img src="../images/2019/sponsors/sadosky.jpg" alt="Image" class="img-fluid">
          </div>
        </div>
      -->
        <div class="row">
          <div class="col-12">
            <div class="p-4 border text-center">
              <h2>Your company here</h2>
              <div class="row justify-content-center">
                <div class="col-md-7">
                  <p><a href="contact.html" class="btn btn-primary px-4 py-2">Be a Sponsor</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
