{% extends 'layout_en.njk' %}

{% block current_url %}media.html{% endblock %}

{% block main_header %}
<div class="col-md-10 text-center" data-aos="fade">
    <h1 class="mb-4">Training Camp Argentina in the media</h1>
</div>
{% endblock %}

{% block content %}
<section class="site-section" id="news">
    <div class="container">
        <div class="card-columns">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mundial de programación: nuestros equipos juegan en primera</h5>
                    <h6 class="card-subtitle mb-2 text-muted">22 agosto 2019</h6>
                    <p class="card-text">U.B.A. - Departamento de Computación</p>
                    <div class="text-right">
                        <a href="https://futuros-estudiantes.dc.uba.ar/mundial-de-programacion-nuestros-equipos-juegan-en-primera/" class="card-link">See more</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Training Camp Argentina 2019</h5>
                    <p class="card-text">Fundación Sadosky</p>
                    <div class="text-right">
                        <a href="http://www.fundacionsadosky.org.ar/training-camp-argentina-2019/" class="card-link">See more</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="https://scontent-yyz1-1.cdninstagram.com/v/t51.2885-15/e35/30930173_196078187781522_5102783252045758464_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com&_nc_cat=106&_nc_ohc=CIdSaqr3kbkAX-ZLMwu&oh=79c7d757a5cb2089be9eca50bac60a1c&oe=5E9891FD" alt="Interview about the workshop in Chilecito">
                <div class="card-body">
                    <h5 class="card-title">Workshop in Chilecito (2018)</h5>
                    <p class="card-text">Qué tarde en la Universidad - Radio Universidad 104.1 - UNdeC</p>
                    <div class="text-right">
                        <a href="https://www.picuki.com/media/1782271213643426977" class="card-link">Post</a><br>
                        <a href="https://drive.google.com/open?id=14EcRZBgbTJ3X-JpfcbSCKN6vT44l4ptP">Interview (in spanish)</a>
                    </div>
                </div>
            </div>
            <div class="card" style="">
                <div class="card-body">
                    <h5 class="card-title">Training Camp Argentina 2018</h5>
                    <p class="card-text">Fundación Sadosky</p>
                    <div class="text-right">
                        <a href="http://www.fundacionsadosky.org.ar/training-camp-argentina-2018/" class="card-link">See more</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Training Camp Argentina 2017</h5>
                    <p class="card-text">Fundación Sadosky</p>
                    <div class="text-right">
                        <a href="http://www.fundacionsadosky.org.ar/training-camp-argentina-2017/" class="card-link">See more</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="http://noticias.unsam.edu.ar/wp-content/uploads/2017/07/MG_5018-1070x660.jpg" alt="Training Camp Argentina 2017 - UNSAM">
                <div class="card-body">
                    <h5 class="card-title">La UNSAM es sede del 8º training camp de informática</h5>
                    <p class="card-text">Noticias UNSAM</p>
                    <div class="text-right">
                        <a href="http://noticias.unsam.edu.ar/2017/07/27/la-unsam-es-sede-del-8-o-training-camp-de-informatica/" class="card-link">See more</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9 card-img-top">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/57oaOO0qo3A?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Los ojos clavados en la pantalla para saber programar</h5>
                    <h6 class="card-subtitle mb-2 text-muted">31 julio 2016</h6>
                    <p class="card-text">lmneuquen.com</p>
                    <div class="text-right">
                        <a href="https://www.lmneuquen.com/los-ojos-clavados-la-pantalla-saber-programar-n521462" class="card-link">See more</a>
                    </div>
                </div>
            </div>
            <div class="card" style="">
                <div class="card-body">
                    <h5 class="card-title">Training Camp Argentina 2015</h5>
                    <p class="card-text">Fundación Sadosky</p>
                    <div class="text-right">
                        <a href="http://www.fundacionsadosky.org.ar/training-camp-argentina-2015/" class="card-link">See more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
