{% extends 'layout_en.njk' %}

{% block current_url %}COVID19.html{% endblock %}

{% block content %}
<div class="site-section" id="tcvirtual">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mx-auto text-left section-heading">
        <h2 class="mb-5 text-uppercase">Virtual Traning Camp Argentina</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-7">
        Due to recent events related to COVID 19, we decided to <strong> cancel </strong> the face-to-face event that was going to be held in La Rioja this year. Instead, we are thinking of a <strong> new event </strong> "Virtual Training Camp Argentina". We will decide the date, format and registration soon. Pay attention!
          <p> People who registered for the previous face-to-face event will receive the information of the new event in their emails as soon as it is available. </p>
          <p> Stay home and together we overcome adversity. </p>

          <p> The organization of Training Camp Argentina. </p>

      </div>
    </div>
  </div>
</div>
{% endblock %}
