{% extends 'layout.njk' %}

{% block head %}<link rel="stylesheet" href="css/2019.css">{% endblock %}

{% block current_url %}2019.html{% endblock %}

{% block main_header %}
  <div class="col-md-10 text-center" data-aos="fade">
    <h1 class="mb-4">Training Camp Argentina 2019</h1>
    <h3 class="mb-5" style="color:white">8-19 Julio, 2019 &bullet; Universidad Nacional de Córdoba</h3>
  </div>
{% endblock %}

{% block content %}
<div class="site-section">
  <div class="container" id="cronograma" style="padding:4.5em 0 0 0">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-4 section-heading">
        <h2 class="text-uppercase">Cronograma</h2>
        <h3>(tentativo)</h3>
      </div>
    </div>

    <div class="row">
      <p><i>ACLARACIÓN</i>: <b>Aulas</b> comprenden a las aulas 13 y 17. <b>Labs</b>
      comprenden a los laboratorios IPT, 28 y 30. Todos estos lugares se
      encuentran dentro de la <a href="#ubicacion">Facultad de Matemática, Astronomía, Física y Computación</a>
      (FaMAF) de la UNC.</p>
      <div class="table-responsive text-nowrap">
        <table class="table table-sm">
          <thead>
            <tr>
              <th class="col-1"></th>
              <th>Día 1 (Lunes 8)</th>
              <th>Día 2 (Martes 9)</th>
              <th>Día 3 (Miércoles 10)</th>
              <th>Día 4 (Jueves 11)</th>
              <th>Día 5 (Viernes 12)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>09:00 - 10:00</td>
              <td class="table-registracion">Registración: 1er piso de FaMAF</td>
              <td rowspan="3" class="table-contest" colspan="4">Contest: Labs</td>
            </tr>
            <tr>
              <td>10:00 - 11:00</td>
              <td class="table-charla">Presentación + Coffee Break: Aulas</td>
            </tr>
            <tr>
              <td>11:00 - 13:00</td>
              <td class="table-contest">Contest corto: Labs</td>
            </tr>
            <tr>
              <td>13:00 - 14:30</td>
              <td class="table-comida" colspan="5">Almuerzo</td>
            </tr>
            <tr>
              <td>14:30 - 16:30</td>
              <td class="table-charla" colspan="5">Clase Teórica: Aulas</td>
            </tr>
            <tr>
              <td>16:30 - 17:00</td>
              <td class="table-comida" colspan="5">Coffee break</td>
            </tr>
            <tr>
              <td>17:00 - 18:00</td>
              <td class="table-charla">Charla sobre estrategias: Aulas</td>
              <td class="table-upsolving" colspan="4">Resolución: Aulas</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="table-responsive text-nowrap">
        <table class="table table-sm">
          <thead>
            <tr>
              <th class="col-1 col-sm-1"></th>
              <th class="col">Día 6 (Lunes 15)</th>
              <th class="col">Día 7 (Martes 16)</th>
              <th class="col">Día 8 (Miércoles 17)</th>
              <th class="col">Día 9 (Jueves 18)</th>
              <th class="col">Día 10 (Viernes 19)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>09:00 - 11:00</td>
              <td rowspan="2" class="table-contest" colspan="2">Contest: Labs</td>
              <td class="table-charla" rowspan="2">Resolución: Aulas</td>
              <td class="table-contest" rowspan="2">Topcoder Contest: Labs <br>(<a href="#topcoder-contest">más info</a>)</td>
              <td rowspan="2" class="table-contest" colspan="1">Contest: Labs</td>
            </tr>
            <tr>
              <td>11:00 - 13:00</td>
            </tr>
            <tr>
              <td>13:00 - 14:30</td>
              <td class="table-comida" colspan="5">Almuerzo</td>
            </tr>
            <tr>
              <td>14:30 - 16:30</td>
              <td class="table-charla" colspan="2">Clase Teórica: Aulas</td>
              <td class="table-charla" colspan="1">Charla Avature (<a href="#charla-avature">más info</a>)</td>
              <td class="table-charla" colspan="1">Clase Teórica: Aulas</td>
              <td class="table-cierre" colspan="1">Feedback + Cierre: Aulas</td>
            </tr>
            <tr>
              <td>16:30 - 17:00</td>
              <td class="table-comida" colspan="5">Coffee break</td>
            </tr>
            <tr>
              <td>17:00 - 18:00</td>
              <td class="table-upsolving" colspan="4">Resolución: Aulas</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto text-center">
        <h2 class="mb-3 text-uppercase">Clases teóricas</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 mb-3">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">Inicial</li>
          <li class="list-group-item">Lunes 8: E/S + Intro (Agustín Gutiérrez) <a href="pdfs/2019/ipc.pdf">[<i class="icon icon-file"></i> pdf]</a></li>
          <li class="list-group-item">Martes 9: Matemática (Luis Ferroni)<a href="pdfs/2019/tcarg-m.cpp">[<i class="icon icon-file"></i> código]</a></li>
          <li class="list-group-item">Miércoles 10: Greedy (Emanuel Lupi)</li>
          <li class="list-group-item">Jueves 11: Grafos (Hector Peña Pollastri)</li>
          <li class="list-group-item">Viernes 12: BS + Sorting (Juan Cruz Piñero)</li>
          <li class="list-group-item">Lunes 15: Strings (Juan Cruz Piñero) </li>
          <li class="list-group-item">Martes 16: Estructuras (Sebastian Marin)</li>
          <li class="list-group-item">Jueves 18: DP (Eric Destefanis)</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-6">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">Avanzado</li>
          <li class="list-group-item">Lunes 8: Matemática++ (Luis Ferroni)</li>
          <li class="list-group-item">Martes 9: Teoría de Números (Brian Morris) <a href="pdfs/2019/tcarg19-tn.rar">[<i class="icon icon-file"></i> rar (pdf+códigos)]</a> <a href="pdfs/2019/tcarg19-tn.pdf">[<i class="icon icon-file"></i> pdf]</a></li>
          <li class="list-group-item">Miércoles 10: Teoría de Juegos (Agustín Gutiérrez)</li>
          <li class="list-group-item">Jueves 11: Grafos Avanzado (Eric Destefanis)</li>
          <li class="list-group-item">Viernes 12: Geometría (Brian Morris)</li>
          <li class="list-group-item">Lunes 15: Upsolving </li>
          <li class="list-group-item">Martes 16: Aho Corasick + Hashing (Marcos Kolodny)</li>
          <li class="list-group-item">Jueves 18: DP Avanzada (Agustín Gutiérrez)</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" id="ubicacion" style="padding:4.5em 0 0 0">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-4 section-heading">
        <h2 class="text-uppercase">Ubicación</h2>
      </div>
    </div>
    <div class="row">
      <div class="embed-responsive embed-responsive-16by9 col-xs-12 text-center">
        <iframe src="https://www.google.com/maps/d/embed?mid=1Ugn6YbRlGx7_EHFoXs-VTLgccYYVi7zD&hl=en" width="640" height="480"></iframe>
      </div>
    </div>
  </div>
  <div class="container" style="padding:4.5em 0 0 0">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-4 section-heading">
        <h2 class="text-uppercase">Sponsors</h2>
      </div>
    </div>
    <div class="row d-block">
      <h5 class="font-weight-bold text-uppercase display-5">Platinum</h5>
    </div>
    <div class="row" style="height:5px"></div>
    <div class="row">
      <div class="col-6 col-md-6 col-lg-4">
        <img src="images/2015/sponsors/facebook.jpg" alt="Image" class="img-fluid">
      </div>
    </div>
    <div class="row d-block">
      <h5 class="font-weight-bold text-uppercase display-5">Gold</h5>
    </div>
     <div class="row" style="height:5px"></div>
    <div class="row">
      <div class="col-6 col-md-6 col-lg-4">
        <img src="images/2019/sponsors/avature.png" alt="Image" class="img-fluid">
      </div>
      <div class="col-6 col-md-6 col-lg-4">
        <img src="images/2019/sponsors/TopcoderLogo_Primary_FullColor.png" alt="Image" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <h5 class="font-weight-bold text-uppercase display-5">Silver</h5>
    </div>
    <div class="row">
      <div class="col-6 col-md-6 col-lg-4">
        <img src="images/2019/sponsors/sadosky.jpg" alt="Image" class="img-fluid">
      </div>
    </div>
  </div>
  <div class="container" id="charla-sponsors" style="padding:4.5em 0 0 0">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-4 section-heading">
        <h2 class="text-uppercase">Actividades de sponsors</h2>
      </div>
    </div>
    <div class="row" id="charla-avature">
      <div class="card bg-light mb-3">
        <div class="card-header">
          Avature: Charla
        </div>
        <div class="card-body">
          <h5 class="card-title">Más allá del orden complejidad. Identificando problemas de rendimiento en tiempo real</h5>
          <h6 class="card-subtitle mb-2 text-muted">Pablo Factorovich, ex profesor de UBA-FCEN, ex consultor de Fundación Sadosky</h6>
          <p class="card-text">La teoría desarrollada por Knuth y otros indica que debemos focalizarnos en encontrar algoritmos con el mejor orden de complejidad posible para nuestros problemas. Eso está muy bien pero muchas veces no alcanza. Resolver una tarea en medio segundo no es lo mismo que hacerlo en 3 para la usabilidad de un sistema online, así que el tamaño de las constantes importa. Por otra parte, qué pasa si se introducen bugs de rendimiento (no funcionales) que se producen al desarrollar de un sistema en el que trabajan cientos de personas produciendo versiones nuevas todas las semanas? Y qué rol juega a la infraestructura, cuando hay decenas de servidores productivos?

          En esta charla discutiremos cómo podemos identificar problemas de rendimiento en tiempo real para los millones de llamadas por día que realizan miles de usuarios trabajando para cientos de clientes de un producto SaaS. Y, más importante, sus causas.</p>
        </div>
      </div>
    </div>
    <div class="row" id="topcoder-contest">
      <div class="col-12 card bg-light mb-3">
        <div class="card-header">
          Topcoder: Contest
        </div>
        <div class="card-body">
          <p class="card-text">Competencia, Premios y Análisis de los problemas</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="contests" style="padding:4.5em 0 0 0">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-4 section-heading">
        <h2 class="text-uppercase">Contests</h2>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">Links</li>
      <li class="list-group-item"><a href="http://elsantodel90.tk/tc2019/scoreboard.html">Scoreboard General de Upsolving</a></li>
      <li class="list-group-item"><a href="https://vjudge.net/contest/309465">Contest#0</a></li>
      <li class="list-group-item"><a href="https://vjudge.net/contest/309646">Contest#1</a> | <a href="https://vjudge.net/contest/309884">Upsolving Contest#1</a></li>
      <li class="list-group-item"><a href="https://vjudge.net/contest/309921">Contest#2</a> | <a href="https://vjudge.net/contest/310047">Upsolving Contest#2</a></li>
    </ul>
  </div>
  <div class="container" id="contests" style="padding:4.5em 0 0 0">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-4 section-heading">
        <h2 class="text-uppercase">Otra info útil</h2>
      </div>
    </div>
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">Links</li>
      <li class="list-group-item">Ejemplo de códigos:
        <a href="https://github.com/mhunicken/icpc-team-notebook-el-vasito">[<i class="icon icon-github"></i> team-notebook el-vasito]</a>,
        <a href="pdfs/2019/aji-notebook.pdf">[<i class="icon icon-file"></i> team-notebook AJI]</a>,
        <a href="https://github.com/vmartinv/eldiego">[<i class="icon icon-github"></i> team-notebook el-diego]</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
