{% extends 'layout2.njk' %}

{% block head %}
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
{% endblock %}

{% block content %}

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
<div class="site-section" id="scoreboard">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center mb-3 section-heading">
        <h3>Upsolving Scoreboard 2019</h3>
      </div>
    </div>
    <div id="scoreboard-data">
      <div class="progress">
       <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="0"
       aria-valuemin="0" aria-valuemax="100" style="width:0%">
       </div>
      </div>
    </div>
  </div>
</div>

<style>
.medal-holder{
  position:relative;
  display:inline;
}
.count{
  z-index: 1;
  position: absolute;
  right: -6px;
  bottom: -6px;
}
.gold-medal{
  font-size:24px;
  color:gold;
}
.silver-medal{
  font-size:24px;
  color:silver;
}
.bronze-medal{
  font-size:24px;
  color:#cd7f32;
}
</style>

<script>
var teams = {};
var get_team_id = id => {
  id = id.toString();
  if(id == "300966"){id="304811";}
  if(id == "304846"){id="304788";}
  return id;
};
var url_base = "https://vjudge.net/contest/rank/single/";
var contests_id = ["309884", "310047", "310373", "310467"];
var contests_official_id = ["309646", "309921", "310196", "310454"];
var contests_lengths = [12, 12, 13, 15];

var valid_accounts = new Set();
var update_with_contest_data = (validated, idx) => function( data ) {
  $.each( data['participants'], function(id, name) {
    id = get_team_id(id);
    if(validated){
      valid_accounts.add(id);
    }
    if(!(id in teams) && validated){
      teams[id] = {'name': name[0], 'contests': new Array(contests_id.length).fill(0).map((a,b) => new Set())};
    }
  });
  $.each( data['submissions'], function(key, val){
    id = get_team_id(val[0]);
    if(val[2] == 1 && valid_accounts.has(id)){
      teams[id]['contests'][idx].add(val[1]);
    }
  });
};
var update_progress_bar = (finished) => {
  var percentage = finished / (2. * contests_id.length) * 100;
  $('#progressbar').css('width', percentage+'%').attr('aria-valuenow', percentage);
};
$.ajaxSetup({async: false});
for(var idx = 0; idx < contests_id.length; idx++){
  (function (){$.getJSON( url_base + contests_official_id[idx], update_with_contest_data(true, idx))})();
  update_progress_bar(idx+1);
}
for(var idx = 0; idx < contests_id.length; idx++){
  (function (){$.getJSON( url_base + contests_id[idx], update_with_contest_data(false, idx))})();
  update_progress_bar(idx+1+contests_id.length);
}
$.ajaxSetup({async: true});
var teams_arr = Object.values(teams);
var array_Sum = arr => arr.reduce((p, q) => p+q, 0);
var map_size = arr => arr.map(l => l.size);
teams_arr.sort( function(a, b){
  var cnt_a = array_Sum(map_size(a['contests']));
  var cnt_b = array_Sum(map_size(b['contests']));
  return cnt_b - cnt_a;
});

var medals = {
  'InChaVoLa': [3, 1, 0],
  'ggdem': [0, 2, 1],
  'NoFuePenalCsm': [0, 0, 1],
  'QuePerdio': [0, 1, 0],
  'argipop': [1, 0, 1],
  'ThreePointers': [0, 0, 1],
};

var medals_str = ['gold', 'silver', 'bronze'];

var show_upsolving_scoreboard = function(){
  var alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
  var content = '<div class="table-responsive text-nowrap"><table class="table table-sm"><thead><th>Pos</th><th>Equipo</th><th>Contest#1</th><th>Contest#2</th><th>Contest#3</th><th>Contest#4</th><th>Total</th></thead><tbody>';
  var last_problem_solved = 0, position = 0;
  if(teams_arr.length > 0){
    last_problem_solved = 1 + array_Sum(map_size(teams_arr[0]['contests']));
  }
  $.each(teams_arr, function(key, val){
    var solved_per_contests = map_size(val['contests']);
    var problems_solved = array_Sum(solved_per_contests);
    if(last_problem_solved > problems_solved){
      last_problem_solved = problems_solved;
      position = key + 1;
    }
    content += '<tr><td>' + position + '</td><td>' + val['name'] + '<br>';
    if(val['name'] in medals){
      for(var i=0; i<3; i++){
        if(medals[val['name']][i] > 0){
          content += '<div class="medal-holder">';
          content += '<i class="fas fa-medal ' + medals_str[i] + '-medal"></i>';
          content += '<span class="badge count">'+ medals[val['name']][i] +'</span>';
          content += '</div> ';
        }
      }
    }
    content += '</td>';
    for(var idx=0; idx<contests_id.length; idx++){
      content += '<td>';
      for(var i=0; i<contests_lengths[idx]; i++){
        if(i == 8)content += '<br>';
        content += '<span style="color:';
        if(val['contests'][idx].has(i)){content+='#33CC66';}
        else{content += '#D3D3D3';}
        content += '">' + alpha[i] + '</span>';
      }

      content += ' ('+solved_per_contests[idx] + ')</td>';
    }
    content += '<td>'+ problems_solved +'</td></tr>';
  });
  content +='</tbody></table></div>';
  $('#scoreboard-data').html(content);
};
show_upsolving_scoreboard();

</script>
{% endblock %}
