{% extends 'layout.njk' %}

{% block current_url %}COVID19.html{% endblock %}

{% block content %}
<div class="site-section" id="COVID19">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mx-auto text-left section-heading">
        <h2 class="mb-5 text-uppercase">AVISO IMPORTANTE SOBRE EL COVID19</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-7">
        <p>
          En vista de los sucesos de público conocimiento sobre la actual pandemia mundial, estamos evaluando la viabilidad del evento presencial. La decisión final sobre el mismo se tomará a más tardar el día 30 abril. Por el momento, hemos decidido extender el plazo de inscripción hasta el 30 de abril, y no recomendamos reservar pasajes o alojamiento.
        </p>

        <p> Lamentamos las molestias ocasionadas y esperamos su comprensión.</p>

        <p> Atentamente la Organización.</p>

      </div>
    </div>
  </div>
</div>
{% endblock %}
