{% extends 'layout.njk' %}

{% block current_url %}editions.html{% endblock %}

{% block main_header %}
<div class="col-md-10 text-center" data-aos="fade">
    <h1 class="mb-4">Ediciones anteriores</h1>
</div>
{% endblock %}

{% block content %}
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 ml-auto">
                <a class="display-4" href="2010.html">2010</a>
            </div>
            <div class="col-lg-3 ml-auto">
                <a class="display-4" href="2011.html">2011</a>
            </div>
            <div class="col-lg-3 ml-auto">
                <a class="display-4" href="2012.html">2012</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 ml-auto">
                <a class="display-4" href="2013.html">2013</a>
            </div>
            <div class="col-lg-3 ml-auto">
                <a class="display-4" href="2014.html">2014</a>
            </div>
            <div class="col-lg-3 ml-auto">
                <a class="display-4" href="2015.html">2015</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 ml-auto">
                <a class="display-4" href="2016.html">2016</a>
            </div>
            <div class="col-lg-3 ml-auto">
                <a class="display-4" href="2017.html">2017</a>
            </div>
            <div class="col-lg-3 ml-auto">
                <a class="display-4" href="2018.html">2018</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 ml-auto">
                <a class="display-4" href="2019.html">2019</a>
            </div>
            <div class="col-lg-3 ml-auto">
                <div class="display-4"></div>
            </div>
            <div class="col-lg-3 ml-auto">
                <div class="display-4"></div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
