{% extends 'layout.njk' %}

{% block main_header %}
<div class="col-md-10 text-center" data-aos="fade">
  <h1 class="mb-4">Ediciones anteriores</h1>
</div>
{% endblock %}

{% block content %}
  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 ml-auto">
          <a class="display-4" href="2018.html">2018</a>
        </div>
        <div class="col-lg-3 ml-auto">
          <a class="display-4" href="#">2017</a>
        </div>
        <div class="col-lg-3 ml-auto">
          <a class="display-4" href="#">2016</a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 ml-auto">
          <a class="display-4" href="#">2015</a>
        </div>
        <div class="col-lg-3 ml-auto">
          <a class="display-4" href="#">2014</a>
        </div>
        <div class="col-lg-3 ml-auto">
          <a class="display-4" href="#">2013</a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 ml-auto">
          <a class="display-4" href="#">2012</a>
        </div>
        <div class="col-lg-3 ml-auto">
          <a class="display-4" href="#">2011</a>
        </div>
        <div class="col-lg-3 ml-auto">
          <a class="display-4" href="#">2010</a>
        </div>
      </div>
      
    </div>
  </div>
{% endblock %}
