{% extends 'layout.njk' %}

{% block main_header %}
<div class="col-md-10 text-center" data-aos="fade">
  <h1 class="mb-4">Preguntas Frecuentes</h1>
</div>
{% endblock %}

{% block content %}
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-5 ml-auto">
        <h2>¿Qué es una competencia de programación?</h2>
        <p>Se trata de competencias en las que hay que resolver problemas individualmente
        o en equipo, utilizando razonamientos de lógica y matemática, como así también algorítmicos.
        Luego, la solución debe ser implementada mediante un lenguaje de programación, y se evalúa dicha
        solución contra un conjunto de casos de prueba que juzgan automáticamente (y muchas veces en vivo)
        si esta es correcta o no.</p>
      </div>
      <div class="col-md-5 col-lg-5 ml-auto">
        <h2>¿Qué tipo de problemas se pueden encontrar en una competencia de programación?</h2>
        <p>Las competencias cuentan con problemas de diversos estilos: estructuras de datos,
          teoría de juegos, algoritmos greedy, programación dinámica, fuerza bruta, aritmética,
          geometría computacional, etc. Se pueden ver en la página del Torneo Argentino de Programación
          los problemas de años anteriores.</p>
      </div>
    </div>
  </div>
</div>

<div class="site-section" style="background-color:#eeeeee">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-5 ml-auto">
        <h2>¿Para qué sirve participar del Training Camp?</h2>
        <p>Un Training Camp prepara a los estudiantes para participar de competencias
        de programación. La más importante de ellas, la ICPC, es para la cual apuntamos
        a preparar a los participantes. Además, al aprender a resolver problemas algorítmicos,
        lógicos y matemáticos los participantes quedan también muy bien preparados para
        enfrentar entrevistas en las principales empresas de la industria, muchas de las
        cuales son o han sido sponsors del Training Camp.</p>
      </div>
      <div class="col-md-5 col-lg-5 ml-auto">
        <h2>¿El entrenamiento recibido en el Training Camp sirve para cualquier
        competencia de programación?</h2>
        <p> Si, aunque el entrenamiento se enfoca en la preparación para la competencia Regional
        de la ICPC y en el caso de los participantes argentinos también para el Torneo Argentino
        de Programación. En ambas competencias, varios equipos de 3 integrantes, compiten en distintas
        sedes del país (o del continente) en simultaneo, tratando de resolver un conjunto de entre
        8 y 13 problemas, utilizando una única computadora por equipo y en un plazo de 5 horas.
        Cada vez que resuelven un problema, suben el código fuente a un sitio web, que les informa
        si su programa resuelve de forma correcta el problema.</p>
      </div>
    </div>
  </div>
</div>

<div class="site-block-half d-flex images">
  <div class="image bg-image" style="background-image: url('images/img_7.jpg');">
  </div>
  <div class="image bg-image" style="background-image: url('images/img_8.jpg');">
  </div>
</div>

<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-5 ml-auto">
        <h2>¿Qué lenguajes utilizaremos en el Training Camp?</h2>
        <p>Utilizaremos C, C++, Java o Python, ya que estos son los lenguajes
        permitidos en las competencias ACM-ICPC.</p>
        <h2>¿Y qué mas?</h2>
        <p>Además de las charlas técnicas, y sesiones de práctica, el Training Camp
        contará con momentos de distensión y recreación, y algún bloque para que los
        sponsors hagan una presentación.</p>
      </div>
      <div class="col-md-5 col-lg-5 ml-auto">
        <h2>Recién comienzo la carrera y no tengo muchos conocimientos…
        ¿Puedo asistir? ¿Me sirve el entrenamiento? </h2>
        <p>¡Por supuesto que sí! No va a ser fácil, pero esto es un desafío. Mientras
        antes comiencen a practicar, mejor. El nivel de los participantes en los
        Training Camp suele ser muy variado, y los instructores están capacitados
        para que todos aprendan.</p>
      </div>
    </div>
  </div>
</div>

<div class="site-section" style="background-color:#eeeeee">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-lg-5 ml-auto">
        <h2>¿Me gano algo por participar de un Training Camp o de un torneo de programación?</h2>
        <p>Sí, van a aprender muchas cosas nuevas, en muchos casos diferentes de las que suelen estudiar
        en sus respectivas carreras. Además, aquellos con buen desempeño durante los torneos de
        programación tendrán la posibilidad de viajar a las respectivas finales regionales o mundiales.</p>
      </div>
      <div class="col-md-5 col-lg-5 ml-auto">
        <p>El Torneo Argentino de Programación tiene el estilo de las competencias ICPC. En el 2016,
          el equipo de la Universidad Nacional de Rosario se coronó campeón latinoamericano de las finales
          mundiales en Tailandia. En el 2017, tres equipos argentinos participarán de las finales en
          Estados Unidos.</p>
        <p>Además, el entrenamiento puede ser útil para la mayoría de las competencias de programación más
          reconocidas: Google Code Jam, Facebook Hacker Cup, CodeForces, TopCoder, Codility, Codechef, SPOJ,
          URI OJ, HackerRank.</p>
        <p>Dependiendo de la edición (ya que la sede, los auspiciantes, y demás cuestiones organizativas
          varían cada año) podría haber diversos premios para los mejores equipos al finalizar el Training
          Camp.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
