{% extends 'layout.njk' %}

{% block current_url %}gallery.html{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css" />
<link rel="stylesheet" href="css/grid-gallery.css">
{% endblock %}

{% block main_header %}
<div class="col-md-10 text-center" data-aos="fade">
  <h1 class="mb-4">Galer&#237;a de Imágenes</h1>
</div>
{% endblock %}

{% block content %}
{% from 'gallery_macros.njk' import 'print_year_gallery' %}


<section class="site-section gallery-block grid-gallery">
    <div class="container text-center" style="margin-bottom:20px">
        <a class="btn btn-primary btn-lg" href="#gallery2019">2019</a>
        <a class="btn btn-primary btn-lg" href="#gallery2018">2018</a>
        <a class="btn btn-primary btn-lg" href="#gallery2015">2015</a>
    </div>
    {{ print_year_gallery(2019, 30, 1, 'es') }}
    {{ print_year_gallery(2018, 79, 8, 'es') }}
    {{ print_year_gallery(2017, 12, 0, 'es') }}
    {{ print_year_gallery(2015, 11, 0, 'es') }}
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.grid-gallery', { animation: 'slideIn'});
</script>

{% endblock %}
