{% extends 'layout.njk' %}

{% block current_url %}media.html{% endblock %}

{% block main_header %}
<div class="col-md-10 text-center" data-aos="fade">
    <h1 class="mb-4">Training Camp Argentina en los medios</h1>
</div>
{% endblock %}

{% block content %}
<section class="site-section" id="news">
    <div class="container">
        <div class="card-columns">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mundial de programación: nuestros equipos juegan en primera</h5>
                    <h6 class="card-subtitle mb-2 text-muted">22 agosto 2019</h6>
                    <p class="card-text">U.B.A. - Departamento de Computación</p>
                    <div class="text-right">
                        <a href="https://www.lmneuquen.com/los-ojos-clavados-la-pantalla-saber-programar-n521462" class="card-link">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Training Camp Argentina 2019</h5>
                    <p class="card-text">Fundación Sadosky</p>
                    <div class="text-right">
                        <a href="http://www.fundacionsadosky.org.ar/training-camp-argentina-2019/" class="card-link">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="card" style="">
                <div class="card-body">
                    <h5 class="card-title">Training Camp Argentina 2018</h5>
                    <p class="card-text">Fundación Sadosky</p>
                    <div class="text-right">
                        <a href="http://www.fundacionsadosky.org.ar/training-camp-argentina-2018/" class="card-link">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Training Camp Argentina 2017</h5>
                    <p class="card-text">Fundación Sadosky</p>
                    <div class="text-right">
                        <a href="http://www.fundacionsadosky.org.ar/training-camp-argentina-2017/" class="card-link">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/57oaOO0qo3A?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Los ojos clavados en la pantalla para saber programar</h5>
                    <h6 class="card-subtitle mb-2 text-muted">31 julio 2016</h6>
                    <p class="card-text">lmneuquen.com</p>
                    <div class="text-right">
                        <a href="https://www.lmneuquen.com/los-ojos-clavados-la-pantalla-saber-programar-n521462" class="card-link">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="card" style="">
                <div class="card-body">
                    <h5 class="card-title">Training Camp Argentina 2015</h5>
                    <p class="card-text">Fundación Sadosky</p>
                    <div class="text-right">
                        <a href="http://www.fundacionsadosky.org.ar/training-camp-argentina-2015/" class="card-link">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
