{% extends 'layout.njk' %}

{% block current_url %}COVID19.html{% endblock %}

{% block content %}
<div class="site-section" id="tcvirtual">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mx-auto text-left section-heading">
        <h2 class="mb-5 text-uppercase">Traning Camp Argentina VIRTUAL</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-7">
        <p>
          Debido a los eventos recientes relacionados al COVID 19, decidimos <strong> cancelar </strong> el evento presencial que iba a realizarse en La Rioja este año. En su lugar, estamos pensando en un <strong> nuevo evento </strong>  “Training Camp Argentina - Virtual”, que esperamos sea de su agrado. Tanto fecha, formato y inscripción lo decidiremos en la proximidad.  ¡Estén atentos!
          <p> Las personas que se inscribieron al evento presencial anterior recibirán la información del nuevo evento en sus correos apenas esté disponible. </p>
          <p> Quédate en casa y juntos superemos las adversidades. </p>

          <p> La organización de Training Camp Argentina. </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
