{% extends 'layout.njk' %}

{% block current_url %}virtual-tc-info.html{% endblock %}

{% block content %}
<div class="site-section" id="tcvirtual">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mx-auto text-left section-heading">
        <h2 class="mb-5 text-uppercase">Training Camp Argentina VIRTUAL</h2>
      </div>
    </div>
    <div style="text-align:center">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/yGjO6eLwVjE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-7">
        <p>Debido a los eventos recientes relacionados al COVID 19, decidimos cancelar el evento presencial que iba a realizarse en
        la Universidad Nacional de La Rioja. En su lugar, vamos a realizar un nuevo evento  <strong>“Training Camp Argentina - Virtual”</strong>,
        el cual esperamos sea de su agrado.</p>
        <p>El evento transcurrirá desde el 13 al 24 julio (sin incluir sábado y domingo) y estará dividido en dos niveles: inicial y avanzado.
        Las actividades por nivel serán las siguientes:</p>
        <h4>Turno mañana (horarios tentativos)</h4>
        <ul>
          <li><u><strong>De 10:00 a 11:30 hs (UTC-3)</strong></u>: resolución de problemas de competencias de días previos. El primer día realizaremos una bienvenida
          e introducción al evento en este horario.</li>
          <li><u><strong>De 11:30 a 13:00 hs (UTC-3)</strong></u>: clases teóricas en donde se explicarán algoritmos, técnicas, estructuras y trucos útiles para
          las competencias de programación.</li>
          <li>Las clases serán por streaming con interacción por chat y se transmitirán por Youtube (<a href="https://www.youtube.com/channel/UCTtoEdiHyjP6XmxMGhsngCA">enlace al canal</a>)</li>
        </ul>
        <h5>Cronograma de clases (tentativo)</h5>
            <table class="table table-sm">
                <thead><th>Fecha</th><th>Inicial</th><th>Avanzado</th></thead>
                <tbody>
                    <tr><td>13/07 (1)</td><td>Entrada/Salida + Intro</td><td>Combinatoria</td></tr>
                    <tr><td>14/07 (2)</td><td>Binary Search + Sorting</td><td>Min Cut - Min Cost Max Flow</td></tr>
                    <tr><td>15/07 (3)</td><td>Greedy</td><td>Dualidad Punto Linea + Chull Trick</td></tr>
                    <tr><td>16/07 (4)</td><td>Grafos</td><td>RESOLUCIÓN</td></tr>
                    <tr><td>17/07 (5)</td><td>Estructuras</td><td>Link Cut Tree</td></tr>
                    <tr><td>20/07 (6)</td><td>Strings</td><td>Palindromic Tree</td></tr>
                    <tr><td>21/07 (7)</td><td>Matemática</td><td>FFT</td></tr>
                    <tr><td>22/07 (8)</td><td>RESOLUCIÓN</td><td>RESOLUCIÓN</td></tr>
                    <tr><td>23/07 (9)</td><td>DP Inicial</td><td>DP Avanzado (Chull trick / Alien / Frente)</td></tr>
                    <tr><td>24/07 (10)</td><td colspan=2 style="text-align:center">----- RESOLUCIÓN + Despedida -----</td></tr>
                </tbody>
            </table>
        <h4>Turno tarde (horarios tentativos)</h4>
        <p>Se realizará una competencia para cada nivel de estilo ICPC cada día con duración de 5 horas. La misma será desde las 15:00 hasta las 20:00 hs (UTC-3).
        Se va a utilizar Codeforces (<a href="https://www.codeforces.com">https://www.codeforces.com</a>) para hostear los contests. Estos se encontrarán en un grupo creado para el evento, al cual
        es obligatorio unirse (<a href="https://codeforces.com/group/j1UosVRZar">https://codeforces.com/group/j1UosVRZar</a>).</p>
        <p>La participación en las competencias puede realizarse de manera individual, o en equipos de a lo sumo 3 personas (siendo esto último lo que se recomienda). Para quienes quieran participar
        en equipos, deben crear previamente un team en la página de Codeforces (<a href="https://tc-arg.tk/pdfs/2020/Tutorial_cf_teams.pdf">Tutorial en pdf</a>).</p>
        <p>Hay momentos en los que Codeforces suele estar fuera de servicio. En caso de que ocurriese tal eventualidad se utilizará Vjudge (<a href="https://www.vjudge.net">https://www.vjudge.net</a>) como segunda opción para hostear
        las competencias. Para participar como equipo aquí deben crear un usuario que represente al grupo. <strong>Recomendamos crear cuentas en ambas plataformas antes del evento.</strong></p>
        <br>
        <br>
        <h2>Foros del evento</h2>
        <p>Se utilizará la plataforma Discord para intercambio de ideas, discusiones, blogs, consultas y detalles del evento (<a href="https://discord.gg/C4vzj6A">https://discord.gg/C4vzj6A</a>). Además, se ha creado un grupo de Telegram
        con la misma finalidad (<a href="https://t.me/joinchat/DmAN0VgCQVmKPQMGR83YVA">https://t.me/joinchat/DmAN0VgCQVmKPQMGR83YVA</a>). Les recomendamos fuertemente unirse a ambas plataformas de discusión. </p>
        <br>
        <p><strong>Quédate en casa y juntos superemos las adversidades.<br>La organización de Training Camp Argentina.</strong></p>
        <p>Última actualización: 23 / 05 / 2020 </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
