<div class="site-navbar-wrap js-site-navbar bg-white">
  <div class="container">
    <div class="site-navbar bg-light">
      <div class="py-1">
        <div class="row align-items-center">
          <div class="col-2">
            <h2 class="mb-0 site-logo"><a href="index.html">TC ARG</a></h2>
          </div>
          <div class="col-10">
            <nav class="site-navigation text-right" role="navigation">
              <div class="container">
                <!-- d-lg-none -->
                <div class="d-inline-block  ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle"><span class="icon-menu h3"></span></a></div>
                 <!-- d-lg-block -->
                <ul class="site-menu js-clone-nav d-none">
                  <li><a href="index.html">Home</a></li>
                  <li><a href="editions.html">Ediciones anteriores</a></li>
                  <li><a href="about.html">Sobre TC/ARG</a></li>
                  <li><a href="faq.html">FAQ</a></li>
                  <li><a href="contact.html">Contacto</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
