#scoreboard {
	background-color: white;
	padding: 15px 0px;
	margin:auto;
}
#scoreboard a {
	color: #080808;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
	font-family: Arial;
}
#scoreboard a:hover, #scoreboard a:active {
	text-decoration: underline;
}
#scoreboard a.normal {
	color: #0000FF;
	text-decoration: underline;
	font-weight: normal;
	font-size: 11px;
	font-family: Arial;
}
#scoreboard .triggerUpdates {
	padding-bottom: 5px;
	color: red;
	font-weight: none;
}
#scoreboard table {
	margin: 0px;
	padding: 0px;
	background-color: white;
	color: #080808;
	font-size: 11px;
	font-family: Verdana, Arial;
	width: 100%;
}
#scoreboard thead tr {
	background-color: #E6EEEE;
}
#scoreboard tr {
	border: 2px solid #CCCCCC;
	white-space: nowrap;
}
#scoreboard table {
    border-collapse: separate;
    border-spacing: 0;
}
#scoreboard td, #scoreboard th {
    border-radius: 5px;
    -moz-border-radius: 5px;
}
#scoreboard td, #scoreboard th{
	margin: 0px;
	padding: 5px;
	border: 1px solid #CCCCCC;
}
#scoreboard th {
	text-align: center;
}
#scoreboard img {
	border: 0px;
	margin: 0px;
}
#scoreboard .status {
	color: gray;
	font-size: 10px;
	font-family: Arial;
	padding-left: 5px;
}
